#banner{
    padding-top: 172px;
    padding-bottom: 1px;
    margin-bottom: 0px;
    background-image: url("Images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#main_banner{
    width: 100%;
    height: 100%;

}
#main_footer{
background-color: white;
    flex: 0 0 auto;
}
#navbar{background-color: white;}











































pre {
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}




#primary_nav_wrap
{
    margin-top:15px
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul a
{
    display:block;
    color:#333;
    text-decoration:none;
    font-weight:700;
    font-size:18px;
    line-height:32px;
    padding:0 15px;
    font-family:"font-family: Roboto, -apple-system, BlinkMacSystemFont"
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background:#f6f6f6
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}



div.main_desc {
    margin: 88px;
    margin-left: 216px;
    border: 1px solid #ccc;
    float: left;
    width: 768px;
    height: 375px;
}

div.contacts_desc {
    margin: 36px;
    margin-left: 19px;
    border: 1px solid #ccc;
    float: left;
    width: 566px;
    height: 445px;
}
.main_pic {
    margin-left: 155px;
    margin-top: 30px;
    height: 296px;
    width: 434px;
}




