#banner{
    padding-top: 172px;
    padding-bottom: 1px;
    margin-bottom: 0px;
    background-image: url("Images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#main_banner{
    width: 100%;
    height: 100%;

}
#main_footer{
background-color: white;
    flex: 0 0 auto;
}
#navbar{background-color: white;}

.main_pic {
    margin-left: 155px;
    margin-top: 30px;
    height: 296px;
    width: 434px;
}

.li_pic {
    list-style: none;
    list-style-image: url(images/li_pic.png);
}

.gallery{text-align: center;}






